/* common */
body {
  margin: 0;
}
.dfcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.bold {
  font-weight: bold;
}
.link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* font */
.font14 {
  font-size: 14px;
}
.font15 {
  font-size: 15px;
}
.font16 {
  font-size: 16px;
}
.font17 {
  font-size: 17px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font24 {
  font-size: 24px;
}
.font26 {
  font-size: 26px;
}
.font28 {
  font-size: 28px;
}
.font30 {
  font-size: 30px;
}
/* color */
.cr666 {
  color: #666;
}
.cr999 {
  color: #999;
}
.crForgive, .cr4fc08d {
  color: #4fc08d;
}
.crfff {
  color: #fff;
}
/* optimize */
::-webkit-scrollbar {
  -moz-appearance: none;
  background-color: transparent;
  background-image: none;
  width: 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 767px) {
  .kit-contrast-hidden-mb {
    display: none;
  }
}
@media (min-width: 991px) {
  .kit-contrast-hidden-tb {
    display: none;
  }
}
@media (min-width: 1199px) {
  .kit-contrast-hidden {
    display: none;
  }
}
@media (max-width: 767px) {
  .kit-max-mb {
    width: 100%;
    padding: 0 10px;
  }
}