.btn {
  padding: 5px 20px;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 80px;
}
.btn.primary {
  background-color: #4fc08d;
  border: 1px solid #4fc08d;
}
.btn.contrast {
  background-color: #fff;
  border: 1px solid #4fc08d;
}